/* Editor Preview Styles */
.javascript-snippet-preview {
  align-items: center;
  background-color: #fff6f3;
  border-radius: 8px;
  border: solid 1px #fe5000;
  display: flex;
  margin-bottom: 1px;
}

.javascript-snippet-preview__icon {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.javascript-snippet-preview__text {
  margin-left: 4px;
}

.javascript-snippet-preview__text p:first-child {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.javascript-snippet-preview__text p:last-child {
  font-size: 12px;
  margin: 0;
}