/* Editor Preview Styles */
.javascript-snippet-preview {
  align-items: center;
  background-color: #fff6f3;
  border: solid 1px #fe5000;
  border-radius: 8px;
  display: flex;
  margin-bottom: 16px;
}

.javascript-snippet-preview__icon {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.javascript-snippet-preview__text {
  margin-left: 4px;
  margin-bottom: 0;
}